<div class="row">
    <div class="col-4">
        <h2>Crear nota nueva</h2>
        <section style="border: 1px solid; border-radius: 10px;" >
            <notes-create (onCreateNote)="performUpdateList()"  />
        </section>
    </div>
    <div class="col-8">
        <h3>Listado de Notas</h3>
        <section >
            <div *ngFor="let note of notesList" class="note" >
                <b>{{note.title}}</b>
                <p>{{note.note}}</p>
                <div style="float: right;">
                    <!-- <button class="btn btn-secondary btn-sm" style="margin: 1px;" >Editar</button> -->
                    <button class="btn btn-danger btn-sm" (click)="deleteNote(note.id)"  >Eliminar</button>
                </div>
            </div>
        </section>
    </div>
</div>



