
<div>
    <form>
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input id="title" type="text" placeholder="Título" class="form-control" [(ngModel)]="note.title"  [ngModelOptions]="{standalone: true}"  required/>
        </div>
        <div class="mb-3">
            <label for="note" class="form-label">Note</label>
            <textarea id="note" class="form-control" [(ngModel)]="note.note" [ngModelOptions]="{standalone: true}" required ></textarea>
        </div>

        <div> <button type="button"  (click)="create()" class="btn btn-primary" >Crear Nota</button></div>

    </form>
</div>
